@import '../variables.scss';

nav {
  position: sticky;
  top: 0;

  background-color: $secondary-color;

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    li {
      flex: 1;
      
      text-align: center;
      
      &:hover {
        background-color: $tertiary-color;
        
        a {
          color: $accent-color;
        }
      }
      
      a {
        padding: 5px;
        display: inline-block;
        width: 100%;

        text-decoration: none;

        color: $primary-color;
        font-weight: bold;

        &.active {
          color: $accent-color;
        }
      }
    }
  }
}