@use '../variables.scss';

$article-margin: 20px;

.post {
    border-bottom: 3px solid transparent;
    border-image: radial-gradient(variables.$secondary-color, transparent);
    border-image-slice: 1;

    margin-bottom: $article-margin;
    padding-bottom: $article-margin;

    &:last-child {
        border-bottom: none;

        margin-bottom: 0;
        padding-bottom: 0;
    }
}