@use 'variables.scss';

body {
  margin: 0;

  background-color: variables.$background-color;
  color: variables.$text-color;

  font-family: sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}