@use 'variables.scss';

body {
  margin: 0;

  background-color: variables.$white-color;
  background-image: url(/doodles_placeholder_light.png), url(/doodles_placeholder_light.png);
  background-position: top left, top right;
  background-repeat: repeat-y;

  color: variables.$black-color;
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

a {
  color: variables.$tertiary-color;

  &:hover {
    color: variables.$primary-color;
  }
}

@media (max-width: variables.$small-device-width) {
  body {
    background-image: url(/doodles_placeholder_light.png);
    background-position: center;
  }
}